#Logo {
    display: block;
   margin-left: auto;
   margin-right: auto;
   transition: 1s;
}
#Logo:hover {
   transform: scale(1.2);
   padding-top: 32px;
}
#Help {
   text-align: center;
   color: white;
   font-family: 'Rock Salt', cursive;
   font-size: xx-large;
}
#divHelp {
   border: solid white;
}
#Help-Links {
   color: white;
   text-align: center;
   font-weight: bold;
   font-size: xx-large;
}
#justdo {
   text-align: center;
   padding-top: 400px;
   color: white;
}
#data {
   font-size: large;
   color: white;
}
#back1 {
   background-color: white;
   font-size: xx-large;
   text-align: center;
}
#back2 {
   background-color: white;
   position: absolute;
   font-size: xx-large;
   text-align: center;
   bottom: 0px;
}
#FAT32 {
   color: white;
   font-size: xx-large;
   text-align: center;
}
#usb {
   position: relative;
   justify-content: center;
   text-align: center;
   margin-left: 700px;
   margin-right: 700px;
}
#Debugger {
   position: absolute;
   color: white;
   font-size: xx-large;
   right: 10px;
   top: 280px;
}
#debugger {
   position: absolute;
   right: -100px;
   top: 140px;
}
#imgdbg {
   width: 50%;
}
#divDIV1 {
   position: relative;
   text-align: center;
}

#button213 {
   position: relative;
   left: 10px;
   color: white;
   cursor: pointer;
   height: 1000px;
   width: 600px;
   background-color: transparent;
   font-size: xx-large;
}
#button2113 {
   position: absolute;
   text-align: center;
   right: 15px;
   color: white;
   cursor: pointer;
   height: 1000px;
   width: 600px;
   background-color: transparent;
   font-size: xx-large;
}
.games {
   color: white;
   font-size: x-large;
   background-color: gray;
   width: 300px;
   height: 200px;
   cursor: pointer;
   transition: background-color 1s, color 1s, transform 1s;
}
.games:hover {
   color: black;
   background-color: white;
   transform: scale(1.2);
}
.texte {
   display: flex;
   position: relative;
   color: white;
   font-size: xx-large;
   top: -270px;
   left: 0px;
}
.glowing {
   width: 360px;
   height: 50px;
   border: none;
   outline: none;
   color: #fff;
   background: #111;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 10px;
}

.glowing:before {
   content: '';
   background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
   position: absolute;
   top: -2px;
   left:-2px;
   background-size: 400%;
   z-index: -1;
   filter: blur(5px);
   width: calc(100% + 4px);
   height: calc(100% + 4px);
   animation: glowing 20s linear infinite;
   opacity: 0;
   transition: opacity .3s ease-in-out;
   border-radius: 10px;
}

.glowing:active {
   color: #000
}

.glowing:active:after {
   background: transparent;
}

.glowing:hover:before {
   opacity: 1;
}

.glowing:after {
   z-index: -1;
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: #111;
   left: 0;
   top: 0;
   border-radius: 10px;
}

#List {
   text-align: center;
   display: block;
}

#li {
   background-color: lightblue;
   font-weight: bold;
   transition: 1s;
}
#li:hover {
    transform: scale(1.2);
}
#button {
   position: absolute;
   width: 100px;
   right: -13px;
   top: -20px;
}
#button1 {
   position: absolute;
   display: block;
   cursor: pointer;
   right: 0px;
   top: 0px;
}
#checker {
   position: absolute;
   left: -300000vw;
   opacity: 0;
}
#checker:checked ~ #List  {
   display: none;
}

#divButton {
   position: absolute;
   display: block;
   cursor: pointer;
   width: 75px;
   height: 60px;
   right: 15px;
   top: 35px;
   transition: 2s;
}
#divButton:hover {
   background-color: white;
   transform: rotate(-90deg);
}
#button-text {
   position: absolute;
   color: white;
   right: 4px;
   top: 120px;
   font-weight: bold;
   font-size: 150%;
}
#Daten {
   position: absolute;
   bottom: 200px;
}

@keyframes glowing {
   0% { background-position: 0 0; }
   50% { background-position: 400% 0; }
   100% { background-position: 0 0; }
}
